force-app/main/default/flows/Account_creation_flow_Arya.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_name</name>
        <label>Assign name</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>a.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_name_arya</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>a.AccountNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_creation</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Account creation flow_Arya {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account creation flow_Arya</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Account_creation</name>
        <label>Account creation</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <faultConnector>
            <targetReference>error_scereen</targetReference>
        </faultConnector>
        <inputReference>a</inputReference>
    </recordCreates>
    <screens>
        <name>Arya_s_Account</name>
        <label>Arya&apos;s Account</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_name</targetReference>
        </connector>
        <fields>
            <name>Account_name_arya</name>
            <dataType>String</dataType>
            <fieldText>Account name (arya)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_number</name>
            <dataType>Number</dataType>
            <fieldText>Account number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>error_scereen</name>
        <label>error scereen</label>
        <locationX>440</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Arya_s_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>a</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
