force-app/main/default/flows/Non_PLd_FLow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>Non_PLD_Analysis_File</name>
        <choiceText>Non PLD Analysis File</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non PLD Analysis File</stringValue>
        </value>
    </choices>
    <choices>
        <name>PLD_Analysis</name>
        <choiceText>PLD Analysis</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PLD Analysis</stringValue>
        </value>
    </choices>
    <choices>
        <name>PLD_Analysis_File</name>
        <choiceText>PLD Analysis File</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PLD Analysis File</stringValue>
        </value>
    </choices>
    <choices>
        <name>PLD_File</name>
        <choiceText>PLD File</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PLD File</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_NonPLD_Analysis_File_repeats</name>
        <label>Check NonPLD Analysis File repeats</label>
        <locationX>1238</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1Check_NonPLD_Analysis_File_repeats</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Non_PLD_Analysis_File</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NonPLD_Analysis_File_Task</targetReference>
            </connector>
            <label>Outcome 1Check NonPLD Analysis File repeats</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PLD_Analysis_file_repeats</name>
        <label>Check PLD Analysis file repeats</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Check_PLD_Analysis_file_repeats</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PLD_Analysis_File</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PLD_Analysis_File_Task</targetReference>
            </connector>
            <label>Outcome 1 of Check PLD Analysis file repeatstor Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckAttachmentType</name>
        <label>CheckAttachmentType</label>
        <locationX>908</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PldFile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Attachment_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PLD_File</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_record_task</targetReference>
            </connector>
            <label>PldFile</label>
        </rules>
        <rules>
            <name>PLD_AnalysisFile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Attachment_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PLD_Analysis_File</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PLD_Analysis_File</targetReference>
            </connector>
            <label>PLD AnalysisFile</label>
        </rules>
        <rules>
            <name>NonPLD_Analysis_File</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Attachment_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Non_PLD_Analysis_File</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Non_PLD_Analysis_File</targetReference>
            </connector>
            <label>NonPLD Analysis File</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_PLD_File_Task_is_repeating</name>
        <label>Checking PLD File Task is repeating</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckingPLD_File_Task_is_repeating</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_record_task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Defining</targetReference>
            </connector>
            <label>Checking PLD File Task is repeating</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Non PLd FLow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Non PLd FLow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>NonPLD_Analysis_File_Task</name>
        <label>NonPLD Analysis File Task</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>NonPLDAnalysisFileisCreated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>PLD_Analysis_File_Task</name>
        <label>PLD Analysis File Task</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>PLDAnalysisFileisCreated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_Defining</name>
        <label>Task Defining</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>PLDFileiscreated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Non_PLD_Analysis_File</name>
        <label>Get Non PLD Analysis File</label>
        <locationX>1238</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_NonPLD_Analysis_File_repeats</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NonPLDAnalysisFileisCreated</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PLD_Analysis_File</name>
        <label>Get PLD Analysis File</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_PLD_Analysis_file_repeats</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PLDAnalysisFileisCreated</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_record_task</name>
        <label>get record task</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_PLD_File_Task_is_repeating</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PLDFileiscreated</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>PLD_Screen</name>
        <label>PLD Screen</label>
        <locationX>908</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckAttachmentType</targetReference>
        </connector>
        <fields>
            <name>Attachment_Type</name>
            <choiceReferences>PLD_Analysis_File</choiceReferences>
            <choiceReferences>PLD_File</choiceReferences>
            <choiceReferences>Non_PLD_Analysis_File</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Attachment Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FileUploader</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>FileUploader.multiple</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PLD_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NonPLDAnalysisFileisCreated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>NonPLD Analysis File is Created</stringValue>
        </value>
    </variables>
    <variables>
        <name>PLDAnalysisFileisCreated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PLDAnalysisFileisCreated</stringValue>
        </value>
    </variables>
    <variables>
        <name>PLDFileiscreated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PLD File is created</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
