force-app/main/default/flows/PLD_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_step_in_opp</name>
        <label>Assign step in opp</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Record.Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Step_in_Opp1</name>
        <label>Assign Step in Opp1</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Record.Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp_Step</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_step_in_opp</name>
        <label>Copy 1 of Assign step in opp</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Record.Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_update_opp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Step_Flow</name>
        <label>Check Step Flow</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Step0_or_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Step__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_PLD_File</targetReference>
            </connector>
            <label>Step0 or Null</label>
        </rules>
        <rules>
            <name>Step1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Upload_PLD_File</targetReference>
            </connector>
            <label>Step1</label>
        </rules>
        <rules>
            <name>Step2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Upload_PLD_File</targetReference>
            </connector>
            <label>Step2</label>
        </rules>
        <rules>
            <name>Step3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Upload_PLD_File</targetReference>
            </connector>
            <label>Step3</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>PLD Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PLD Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_Task_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecrdId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Task_Record_Type</name>
        <label>Get Sales Task Record Type</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Step_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesTask</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_update_opp</name>
        <label>Copy 1 of update opp</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <inputReference>Get_Opportunity_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_opp</name>
        <label>update opp</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <inputReference>Get_Opportunity_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Step</name>
        <label>Update Opp Step</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <inputReference>Get_Opportunity_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Upload_PLD_File</name>
        <label>Copy 1 of Upload PLD File</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Non_PLD_Subflow</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Header</name>
            <fieldText>&lt;p&gt;Package Level Detail (PLD)Information&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Upload_PLD_File_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Upload_PLD_File_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Upload_PLD_File_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Upload_PLD_File_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_MediaFly_Header_1</name>
            <fieldText>&lt;p&gt;Media Fly Links For PLD Collection&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Upload_PLD_File_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Upload_PLD_File_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Upload_PLD_File_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Upload_PLD_File_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_documentLink_1</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;https://content.sbigeneral.in/uploads/e9210244b43347828cf293571602bd79.pdf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Document&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://content.sbigeneral.in/uploads/e9210244b43347828cf293571602bd79.pdf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Document&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Upload_PLD_File_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_document_link2</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;https://content.sbigeneral.in/uploads/e9210244b43347828cf293571602bd79.pdf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Document&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://content.sbigeneral.in/uploads/e9210244b43347828cf293571602bd79.pdf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Document&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Upload_PLD_File_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Upload_PLD_File_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_TasksHeader</name>
            <fieldText>&lt;p&gt;Tasks to Complete:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Upload_PLD_File_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Upload_PLD_File_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_CheckboxHeader</name>
            <fieldText>&lt;p&gt;{!checkBoxTextTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Upload_PLD_File_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Upload_PLD_File_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_button</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Upload_PLD_File_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Upload_PLD_File_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_a</name>
                    <extensionName>c:button</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Upload_PLD_File_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_b</name>
                    <extensionName>c:button</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Upload_PLD_File_Section8_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Upload_PLD_File_Section8_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Upload_PLD_File</name>
        <label>Copy 2 of Upload PLD File</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Non_PLD_Subflow</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Header</name>
            <fieldText>&lt;p&gt;Package Level Detail (PLD)Information&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_2_of_Upload_PLD_File_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_2_of_Upload_PLD_File_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_2_of_Upload_PLD_File_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_2_of_Upload_PLD_File_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_2_of_MediaFly_Header_1</name>
            <fieldText>&lt;p&gt;Media Fly Links For PLD Collection&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_2_of_Upload_PLD_File_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_2_of_Upload_PLD_File_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_2_of_Upload_PLD_File_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_2_of_Upload_PLD_File_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_2_of_documentLink_1</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;https://content.sbigeneral.in/uploads/e9210244b43347828cf293571602bd79.pdf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Document&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://content.sbigeneral.in/uploads/e9210244b43347828cf293571602bd79.pdf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Document&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_2_of_Upload_PLD_File_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_2_of_document_link2</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;https://content.sbigeneral.in/uploads/e9210244b43347828cf293571602bd79.pdf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Document&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://content.sbigeneral.in/uploads/e9210244b43347828cf293571602bd79.pdf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Document&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_2_of_Upload_PLD_File_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_2_of_Upload_PLD_File_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_2_of_TasksHeader</name>
            <fieldText>&lt;p&gt;Tasks to Complete:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_2_of_Upload_PLD_File_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_2_of_Upload_PLD_File_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_2_of_CheckboxHeader</name>
            <fieldText>&lt;p&gt;{!checkBoxTemplate3}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_2_of_Upload_PLD_File_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_2_of_Upload_PLD_File_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_2_of_button</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_2_of_Upload_PLD_File_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_2_of_Upload_PLD_File_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_2_of_a</name>
                    <extensionName>c:button</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_2_of_Upload_PLD_File_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>button2</name>
                    <extensionName>c:button</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_2_of_Upload_PLD_File_Section8_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>button3</name>
                    <extensionName>c:button</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_2_of_Upload_PLD_File_Section8_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Upload_PLD_File</name>
        <label>Copy 3 of Upload PLD File</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_3_of_Non_PLD_Subflow</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_Header</name>
            <fieldText>&lt;p&gt;Package Level Detail (PLD)Information&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_3_of_Upload_PLD_File_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_3_of_Upload_PLD_File_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_3_of_Upload_PLD_File_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_3_of_Upload_PLD_File_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_3_of_MediaFly_Header_1</name>
            <fieldText>&lt;p&gt;Media Fly Links For PLD Collection&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_3_of_Upload_PLD_File_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_3_of_Upload_PLD_File_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_3_of_Upload_PLD_File_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_3_of_Upload_PLD_File_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_3_of_documentLink_1</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;https://content.sbigeneral.in/uploads/e9210244b43347828cf293571602bd79.pdf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Document&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://content.sbigeneral.in/uploads/e9210244b43347828cf293571602bd79.pdf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Document&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_3_of_Upload_PLD_File_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_3_of_document_link2</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;https://content.sbigeneral.in/uploads/e9210244b43347828cf293571602bd79.pdf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Document&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://content.sbigeneral.in/uploads/e9210244b43347828cf293571602bd79.pdf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Document&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_3_of_Upload_PLD_File_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_3_of_Upload_PLD_File_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_3_of_TasksHeader</name>
            <fieldText>&lt;p&gt;Tasks to Complete:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_3_of_Upload_PLD_File_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_3_of_Upload_PLD_File_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_3_of_CheckboxHeader</name>
            <fieldText>&lt;p&gt;{!checkBoxTemplate4}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_3_of_Upload_PLD_File_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_3_of_Upload_PLD_File_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_3_of_button</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_3_of_Upload_PLD_File_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_3_of_Upload_PLD_File_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_3_of_a</name>
                    <extensionName>c:button</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_3_of_Upload_PLD_File_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>button4</name>
                    <extensionName>c:button</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_3_of_Upload_PLD_File_Section8_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>button5</name>
                    <extensionName>c:button</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_3_of_Upload_PLD_File_Section8_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>button6</name>
                    <extensionName>c:button</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_PLD_File</name>
        <label>Upload PLD File</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Non_PLD_Subflow</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;Package Level Detail (PLD)Information&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Upload_PLD_File_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Upload_PLD_File_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Upload_PLD_File_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Upload_PLD_File_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>MediaFly_Header_1</name>
            <fieldText>&lt;p&gt;Media Fly Links For PLD Collection&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Upload_PLD_File_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Upload_PLD_File_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Upload_PLD_File_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Upload_PLD_File_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>documentLink_1</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;https://content.sbigeneral.in/uploads/e9210244b43347828cf293571602bd79.pdf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Document&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://content.sbigeneral.in/uploads/e9210244b43347828cf293571602bd79.pdf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Document&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Upload_PLD_File_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>document_link2</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;https://content.sbigeneral.in/uploads/e9210244b43347828cf293571602bd79.pdf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Document&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://content.sbigeneral.in/uploads/e9210244b43347828cf293571602bd79.pdf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Document&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Upload_PLD_File_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Upload_PLD_File_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>TasksHeader</name>
            <fieldText>&lt;p&gt;Tasks to Complete:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Upload_PLD_File_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Upload_PLD_File_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CheckboxHeader</name>
            <fieldText>&lt;p&gt;{!uncheckedCheckBoxTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Upload_PLD_File_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Upload_PLD_File_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>button</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Upload_PLD_File_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Upload_PLD_File_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>a</name>
                    <extensionName>c:button</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Upload_PLD_File_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Upload_PLD_File_Section8_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Upload_PLD_File_Section8_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Copy_1_of_Non_PLD_Subflow</name>
        <label>Copy 1 of Non PLD Subflow</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Assign_Step_in_Opp1</targetReference>
        </connector>
        <flowName>Non_PLd_FLow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>RecrdId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Copy_2_of_Non_PLD_Subflow</name>
        <label>Copy 2 of Non PLD Subflow</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Copy_1_of_Assign_step_in_opp</targetReference>
        </connector>
        <flowName>Non_PLd_FLow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>RecrdId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Copy_3_of_Non_PLD_Subflow</name>
        <label>Copy 3 of Non PLD Subflow</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <flowName>Non_PLd_FLow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>RecrdId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Non_PLD_Subflow</name>
        <label>Non PLD Subflow</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Assign_step_in_opp</targetReference>
        </connector>
        <flowName>Non_PLd_FLow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>RecrdId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>checkBoxTemplate3</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;&gt;
    &lt;title&gt;Simple Checkboxes&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;p&gt;&amp;#9745; Collect and Upload PLD information from customer&lt;/p&gt;
    &lt;p&gt;&amp;#9745; PLD Analysis Uploaded&lt;/p&gt;
    &lt;p&gt;&amp;#9744; Confirm PLD Analysis with the Customer&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>checkBoxTemplate4</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;&gt;
    &lt;title&gt;Simple Checkboxes&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;p&gt;&amp;#9745; Collect and Upload PLD information from customer&lt;/p&gt;
    &lt;p&gt;&amp;#9745; PLD Analysis Uploaded&lt;/p&gt;
    &lt;p&gt;&amp;#9745; Confirm PLD Analysis with the Customer&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>checkBoxTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;&gt;
    &lt;title&gt;Simple Checkboxes&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;p&gt;&amp;#9745; Collect and Upload PLD information from customer&lt;/p&gt;
    &lt;p&gt;&amp;#9744; PLD Analysis Uploaded&lt;/p&gt;
    &lt;p&gt;&amp;#9744; Confirm PLD Analysis with the Customer&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>uncheckedCheckBoxTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;&gt;
    &lt;title&gt;Simple Checkboxes&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;p&gt;&amp;#9744; Collect and Upload PLD information from customer&lt;/p&gt;
    &lt;p&gt;&amp;#9744; PLD Analysis Uploaded&lt;/p&gt;
    &lt;p&gt;&amp;#9744; Confirm PLD Analysis with the Customer&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;</text>
    </textTemplates>
    <variables>
        <name>RecordId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>RecrdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Step</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
